Repository galaxyproject/tools-iuc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @erasche, @shiltemann, @abretaud

Make the options for custom name more clear
  tools/quast/quast.xml
Owners: none

Quast: update + add missing parameters + support metaquast (#2270)
  tools/quast/quast.xml
  tools/quast/test-data/contigs3.fasta
  tools/quast/test-data/contigs3.fasta.textClipping
  tools/quast/test-data/test1.tabular
  tools/quast/test-data/test1_kmers.tabular
  tools/quast/test-data/test1_mis_ass.tabular
  tools/quast/test-data/test1_output.tsv
  tools/quast/test-data/test1_unalign.tabular
  tools/quast/test-data/test2.tabular
  tools/quast/test-data/test2_output.tsv
  tools/quast/test-data/test2_report.pdf
  tools/quast/test-data/test3.tabular
Owners: none

Removed unnecessary database specifications
  tool_collections/kraken2/kraken2/kraken2.xml
  tool_collections/kraken2/macros.xml
Owners: none

Removed kraken1 remnant. Renamed file.
  tool_collections/kraken2/kraken2/test-data/kraken2_databases.loc
  tool_collections/kraken2/kraken2/tool_data_table_conf.xml.test
Owners: none

Made clear that both trailing and non trailing slash are supported
  tool_collections/kraken2/kraken2/tool-data/kraken2_databases.loc.sample
Owners: none

email usage confirmation
  tools/rdavidwebservice/rdavidwebservice.xml
Owners: none

Removed all tabs and replace them with 4 spaces
  tool_collections/kraken2/kraken2/kraken2.xml
Owners: none

Changed allowed input datasets
  tool_collections/kraken2/kraken2/kraken2.xml
  tool_collections/kraken2/macros.xml
Owners: none

revert to conda 4.6
  .travis.yml
Owners: none

Fixed formating error
  tool_collections/kraken2/kraken2/kraken2.xml
Owners: none

More improvements for wrappers
  tools/hicexplorer/hicAdjustMatrix.xml
  tools/hicexplorer/hicBuildMatrix.xml
  tools/hicexplorer/hicFindTADs.xml
  tools/hicexplorer/hicPCA.xml
  tools/hicexplorer/macros.xml
Owners: none

Initial Berokka wrapper
  tools/berokka/.shed.yml
  tools/berokka/berokka.xml
  tools/berokka/test-data/results_1
  tools/berokka/test-data/results_2
  tools/berokka/test-data/results_3
Owners: none

Fix xml formatting
  tools/berokka/berokka.xml
Owners: none

Fix xml formatting
  tools/berokka/berokka.xml
Owners: none

Add README, Berokka to berokka in yml
  tools/berokka/.shed.yml
  tools/berokka/README.rst
Owners: none

Rewrite README
  tools/berokka/README.rst
Owners: none

Revamped the entire interface to provide simple conventional interfaces for single end and paired-end and a flexible interface for complicated scenarios.
  tools/barcode_splitter/barcode_splitter.xml
Owners: none

Fix remote_repository_url
  tools/berokka/.shed.yml
Owners: none

Force python version of eutils to py27
  tools/ncbi_entrez_eutils/macros.xml
Owners: @erasche

upgrade to version 1.41.0
  tools/mothur/macros.xml
Owners: @shiltemann

Version and help
  tools/berokka/berokka.xml
Owners: none

Add citation
  tools/berokka/berokka.xml
Owners: none

Change conditional filter_fasta to optional
  tools/berokka/berokka.xml
Owners: none

Add min for readlen and requirements
  tools/berokka/berokka.xml
Owners: none

Add smaller test data and requirements
  tools/berokka/berokka.xml
  tools/berokka/test-data/berokka_test1.fasta
  tools/berokka/test-data/results_1
  tools/berokka/test-data/results_2
  tools/berokka/test-data/results_3
Owners: none

Addition of help section
  tools/transit/convert_gff.xml
  tools/transit/transit_gumbel.xml
  tools/transit/transit_hmm.xml
  tools/transit/transit_resampling.xml
Owners: none

Get name of input sequence from paired collections on galaxy versions older than 18.09
  tools/snippy/snippy.xml
Owners: none

* Address problem with paired_collection (see https://github.com/galaxyproject/tools-iuc/issues/2161) * Fix rgid option name * Offer option to edit header of consensus output
  tools/snippy/snippy.xml
Owners: none

Update VCFFilter documentation on logical negation
  tool_collections/vcflib/vcffilter/vcffilter.xml
Owners: none

Shrunk test database down to 1MB
  tool_collections/kraken2/kraken2/test-data/test_db/opts.k2d
Owners: none

Changed shed description. Added validator
  tool_collections/kraken2/kraken2/.shed.yml
  tool_collections/kraken2/kraken2/kraken2.xml
Owners: none

Fixed issues with test 6, updated some field descriptions, & removed commented debug commands.
  tools/barcode_splitter/barcode_splitter.xml
  tools/barcode_splitter/test-data/test_6_BC1_index2.fastq
  tools/barcode_splitter/test-data/test_6_BC1_read1.fastq
  tools/barcode_splitter/test-data/test_6_BC1_read2.fastq
  tools/barcode_splitter/test-data/test_6_BC2_index2.fastq
  tools/barcode_splitter/test-data/test_6_BC2_read1.fastq
  tools/barcode_splitter/test-data/test_6_BC2_read2.fastq
  tools/barcode_splitter/test-data/test_6_BC3_index2.fastq
  tools/barcode_splitter/test-data/test_6_BC3_read1.fastq
  tools/barcode_splitter/test-data/test_6_BC3_read2.fastq
  tools/barcode_splitter/test-data/test_6_BC4_index2.fastq
  tools/barcode_splitter/test-data/test_6_BC4_read1.fastq
  tools/barcode_splitter/test-data/test_6_BC4_read2.fastq
  tools/barcode_splitter/test-data/test_6_multimatched_index2.fastq
  tools/barcode_splitter/test-data/test_6_multimatched_read1.fastq
  tools/barcode_splitter/test-data/test_6_multimatched_read2.fastq
  tools/barcode_splitter/test-data/test_6_summary.out
  tools/barcode_splitter/test-data/test_6_unmatched_index2.fastq
  tools/barcode_splitter/test-data/test_6_unmatched_read1.fastq
  tools/barcode_splitter/test-data/test_6_unmatched_read2.fastq
Owners: none

Flatten test-data directory
  tools/snippy/snippy-core.xml
  tools/snippy/snippy.xml
  tools/snippy/test-data/a_b_c.core.txt
  tools/snippy/test-data/a_fna_ref_mincov_2_minqual_60.snps.gff
  tools/snippy/test-data/a_fna_ref_mincov_2_minqual_60.snps.txt
  tools/snippy/test-data/b_fna_ref_mincov_2_minqual_60.snps.gff
  tools/snippy/test-data/b_fna_ref_mincov_2_minqual_60.snps.txt
  tools/snippy/test-data/ref.fna
Owners: none

Update vcffilter.xml
  tool_collections/vcflib/vcffilter/vcffilter.xml
Owners: none

Revert "Berokka wrapper"
  tools/berokka/.shed.yml
  tools/berokka/README.rst
  tools/berokka/berokka.xml
  tools/berokka/test-data/berokka_test1.fasta
  tools/berokka/test-data/results_1
  tools/berokka/test-data/results_2
  tools/berokka/test-data/results_3
  tools/berokka/test-data/trimmed_1
  tools/berokka/test-data/trimmed_2
  tools/berokka/test-data/trimmed_3
Owners: none

Requirements Fix
  tools/berokka/berokka.xml
Owners: none

Set --ram
  tools/snippy/snippy.xml
Owners: none

gard with version 2.3.11
  tools/hyphy/.shed.yml
  tools/hyphy/hyphy_gard.xml
Owners: none

mmvc with consensus
  tools/mmvc/.shed.yml
  tools/mmvc/extract_mmvc_consensus
  tools/mmvc/mmvc.xml
Owners: none

Set ram manually
  tools/snippy/snippy.xml
Owners: none

.github/CODEOWNERS:

# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/art/*                      @erasche
tools/circos/*                   @erasche @shiltemann
tools/jbrowse/*                  @erasche @abretaud
tools/blastxml_to_gapped_gff3/*  @erasche
tools/gff3_rebase/*              @erasche
tools/jq/*                       @erasche
tools/hmmer3/*                   @erasche
tools/progressivemauve/*         @erasche
tools/ncbi_entrez_eutils/*       @erasche
tools/mothur/*                   @shiltemann
